<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qy.dao.IInterviewCompanyDao">

    <insert id="saveInterviewCompany">
        insert into tb_interview_company values(#{interviewId}, #{companyId})
    </insert>
    <delete id="removeInterviewCompany">
        delete from tb_interview_company where interview_id = #{interviewId} and company_id = #{companyId}
    </delete>
</mapper>